.ticket_elementDiv label, input { float: left }
.ticket_elementDiv label, input[type="submit"] { clear: left }
.ticket_elementDiv label { font-weight: bold; font-size: 14px; }
.ticket_elementDiv input, select, textarea { padding: 10px 10px; width: 90%; margin-bottom: 24px; }
.ticket_elementDiv label { width: 70px; }

.ticket_buttonDiv { float: right; clear: both; }

.ticketErrorHolder {
	padding: 6px;
    background-color: pink;
    font-weight: bold;
    text-align: center;
}
.ticketErrorList li {
	list-style-type: none;

}
.ticketError {
	text-align: left;
}

#jsErrorBox { display: none; margin-bottom: 24px; }

.attachment_container { width: 100%; margin-top: 6px; }

.attachment_header { margin-bottom: 6px; font-weight: bold; font-size: 14px; }

.attachment_add { float: right; }
.attachment_add button { padding: 10px 24px; }

.attachment_add button:disabled { cursor: not-allowed; }

.attachment_inputs { float: left; width: 80%; }
.attachment_inputs input[type="file"] {
	display: block;
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 6px;
	background-color: #f0f4fd;
	font-size: 16px;
	color: #526489;
}

.attachment_info { clear: both; margin-bottom: 6px; color: #777; }